# Env vars
.env

# Container
docker/data
docker/app/secrets

# Tools
/Taskfile.yaml
/Taskfile.yml
mise.local.toml
mise.*.local.toml

# AI
.claude/settings.local.json
.opencode/
CLAUDE.local.md
GEMINI.local.md

node_modules
